{% extends 'base.html' %}

{% block content %}
<h2>새 명함 추가</h2>
<form action="{{ url_for('add_contact') }}" method="post">
    <label for="name">이름:</label>
    <input type="text" name="name" required><br>
    
    <label for="phone">전화번호:</label>
    <input type="text" name="phone" required><br>

    <label for="relation">관계:</label>
    <select name="relation" required>
        <option value="가족">가족</option>
        <option value="친구">친구</option>
        <option value="회사">회사</option>
        <option value="학교">학교</option>
        <option value="상사">상사</option>
    </select><br>



    <label for="email">이메일:</label>
    <input type="email" name="email"><br>
    
    <label for="birthday">생일:</label>
    <input type="date" name="birthday"><br>
    
    <label for="address">주소:</label>
    <input type="text" name="address"><br>
    
    <button type="submit">추가하기</button>
</form>
{% endblock %}
