<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online_Directory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <!-- Online Directory를 클릭하면 홈으로 이동하도록 a 태그로 감싸기 -->
        <a href="{{ url_for('index') }}" class="home-btn">
            <h1>Online Directory</h1>
        </a>

        <div class="nav-links">
            <a href="{{ url_for('add_contact') }}" class="btn">Add Contact</a>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
