{% extends 'base.html' %}

{% block content %}
<h2>상세 정보</h2>
<div class="contact-info">
    <p><strong>이름:</strong> {{ contact.name }}</p>
    <p><strong>전화번호:</strong> {{ contact.phone }}</p>
    <p><strong>관계:</strong> {{ contact.relation }}</p>
    <p><strong>이메일:</strong> {{ contact.email }}</p>
    <p><strong>생일:</strong> {{ contact.birthday }}</p>
    <p><strong>주소:</strong> {{ contact.address }}</p>
    <!-- image -->
    <p>
        <strong>사진:</strong><br>
        {% if contact.image %}
            <img src="{{ url_for('static', filename='uploads/' + contact.image) }}" alt="{{ contact.name }}'s Photo" width="200">
        {% else %}
            <img src="{{ url_for('static', filename='no_image.png') }}" alt="No image found">
        {% endif %}
    </p>
</div>






<div class="button-group">
    <!-- 삭제 버튼 -->
    <form action="{{ url_for('delete_contact', id=contact.id) }}" method="post">
        <button type="submit" class="btn btn-danger" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
    </form>

    <!-- 수정 버튼 -->
    <a href="{{ url_for('edit_contact', id=contact.id)}}">
        <button type="button" class="btn btn-primary">수정</button>
    </a>
</div>

<a href="{{ url_for('index') }}" class="btn btn-back">돌아가기</a>
{% endblock %}
